h1{
        	align: center;
        	background: white;
        	display: block;
        	font-size: 2em;
        	margin-top: 0.67em;
        	margin-bottom: 0.67em;
        	margin-left: 0;
        	margin-right: 0;
        	font-weight: bold;        	
}
#start-page{
        	background-image: url("img/building.jpg");
        	background-repeat: no-repeat;
        	background-position: center center;
        	background-size: cover;
}        
#start-button{
        	position: absolute;
        	bottom: 0px;
        	left: 10px;
}